img {
  width: 90%;
  height: auto;
  vertical-align: middle;
}

#onetime-achievements, #uptime-achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.onetime-achievement, .uptime-achievement {
  width: 35em;
  margin: 1em;
  border: 1px solid black;
  padding: 10px;
  background: grey;
  opacity: 0.6;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
}

.achieved {
  background: white;
  opacity: 1;
}

.icon-container, .text-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.text-container {
  grid-area: 1 / 2 / 2 / 3;
}
