h1 {
  text-align: center;
}

img, svg {
  width: 90%;
  height: auto;
  vertical-align: middle;
}

#onetime-achievements, #uptime-achievements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.onetime-achievement, .uptime-achievement {
  width: 35em;
  margin: 1em;
  border: 1px solid black;
  padding: 10px;
  background: grey;
  opacity: 0.6;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 75%;
}

.achieved {
  background: white;
  opacity: 1;
}

.icon-container, .text-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-container {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
}

.text-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container p {
  margin: .5em;
}


/* SVG Custom by Level */

svg.level-0 {
  fill: #000;
}

svg.level-0 *[stroke="#000000"] {
  stroke: #000;
}

svg.level-1 {
  fill: #CD7F32;
}

svg.level-1 *[stroke="#000000"] {
  stroke: #CD7F32;
}

svg.level-2 {
  fill: #C0C0C0;
}

svg.level-2 *[stroke="#000000"] {
  stroke: #C0C0C0;
}

svg.level-3 {
  fill: #FFD700;
}

svg.level-3 *[stroke="#000000"] {
  stroke: #FFD700;
}

svg.level-4 {
  fill: #45ACA5;
}

svg.level-4 *[stroke="#000000"] {
  stroke: #45ACA5;
}

svg.level-5 {
  fill: #E40D22;
}

svg.level-5 *[stroke="#000000"] {
  stroke: #E40D22;
}
